%h1 To-Do-Liste

%h2 Zu erledigen
- if todos.empty?
  Alles erledigt!
- else
  %ul
    - todos.each do |item|
      %li
        #{item}
        %form{:method=>"post", :action=>"/delete"}
          %input{:type=>"hidden", :name=>"todo", :value=>"#{item}"}
          %input{:type=>"submit", :value=>"Abhaken"}

%h2 Erledigt

%a{:href=>"/empty"} Leeren


%ul
  - done.each do |item|
    %li= item

%h2 Add new todo

%form{:method=>"post", :action=>"/new"}
  %input{:type=>"text", :name=>"newtodo"}
  %input{:type=>"submit", :value=>"Submit"}
