

  <table>
      <tr>
        <th> First Name   </th>
        <th> Last Name    </th>
        <th> Phone Number </th>

      </tr>


  <% participants.each do |participant| %>
      <tr>
        <td> <%= participant.first_name %> </td>
        <td> <%= participant.last_name %> </td>
        <td> <%= participant.phone_number %> </td>
      </tr>
  <% end %>
  </table>
